<app-search-bar (searchChange)="onSearchChange($event)"></app-search-bar>

<div class="customers-container">
  <div *ngIf="loading" class="loading">Loading customers...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div
    *ngFor="let c of filteredCustomers$ | async"
    (click)="select(c)"
    [appPalette]="c.firstName"
    class="customer-item"
  >
    <div class="customer-info">
      <div class="display-Flex">
        <div class="customer-name">{{ c.firstName }}</div>
        &nbsp;
        <div class="customer-lastName">{{ c.lastName }}</div>
      </div>
      <div class="customer-details">
        <span class="customer-email">{{ c.email }}</span>
        <span class="customer-phone">{{ c.phoneNumber }}</span>
      </div>

      <div class="customer-meta">
        <span class="registration-years"
          >({{ c.registrationDate | yearsSince }} years)</span
        >
        <span
          *ngIf="isImportantCustomer(c.registrationDate)"
          class="important-badge"
          title="Important"
          >❗</span
        >
      </div>
    </div>
  </div>
</div>
