<div *ngIf="loaded$ | async">
  <h2>{{ customerDetails?.firstName }} {{ customerDetails?.lastName }}</h2>
  <!-- <p>Email: {{ customerDetails.Email }}</p> -->
  <!-- <p>Phone: {{ customerDetails.phoneNumber }}</p>
<p>Credit Score: {{ customerDetails.creditScore }}</p> -->
  <!-- <button
  [routerLink]="[
    '/customerDetailss',
    customerDetails.customerDetailsID,
    'loans'
  ]"
>
  View Loans
</button> -->
  <div *ngFor="let c of customerDetails?.loans">
    {{ c.customerId }} {{ c.approvedAmount }}
  </div>
</div>
